p {
    font-family: 'Segoe UI'; 
    font-size: 16px;
    text-align: center;
}

.heading {
    font-family: 'Segoe UI';
    font-size: '25px';
    text-align: center;
    background-color: #e9ecef;
}

h4 {
    font-family: 'Segoe UI';
    font-size: 16px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}